<%- include('partials/header') -%>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
      <div
        class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
      >
  <% for( let i = 0; i < recipe.length; i++ ) { %>
    <%= console.log(recipe[i]) %> 
  <div class="col mb-5">
    <div class="card h-100">
      <!-- Sale badge-->
      <div
        class="badge text-white position-absolute"
        style="top: 0.5rem; right: 0.5rem"
      >
      <% if (recipe[i].difficulty === 'easy') { %>
        <span class="badge rounded-pill bg-success">Easy</span>
      <% } else if (recipe[i].difficulty === 'moderate') { %>
        <span class="badge rounded-pill bg-warning">Moderate</span>
      <% } else { %>
        <span class="badge rounded-pill bg-danger">Hard</span>
      <% } %>
      </div>
      <!-- Product image-->
      <img
        class="card-img-top"
        src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
        alt=".."
      />
      <!-- Product details-->
      <div class="card-body p-4">
        <div class="text-center">
          <!-- Product name-->
          <h5 class="fw-bolder"><%= recipe[i].title %></h5>
          <!-- Product author-->
          <h5 class="fw-bolder">By: <a href="/profile/<%= recipe[i].user._id %>"><%= recipe[i].user.userName %></a></h5>
          
          <!-- Product price-->
        </div>
      </div>
      <!-- Product actions-->
      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center">
          <a class="btn btn btn-info mt-auto" href="/post/<%= recipe[i]._id %>">View recipe</a>
        </div>
      </div>
    </div>
  </div>
  <% } %>
  </div>
  </div>
  </section>
<%- include('partials/footer') -%>